body {
    font-family: serif;
    background-color: rgb(0, 106, 186);
    color: white;
}

.cardnames {
    width: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 100px;
    text-align: center;
}

p{
    font-size: 19px;
}

.goback {
    position: relative;
} 



a{
    text-decoration: none;
}